@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#superTitulo{
    border: 1px solid; 
    padding: 50px;
    margin: 0px; 
    background-image: url(logoCaminhosDoSol.jpeg);
    background-size: cover; 
    height: 100px;
    background-position: 11px;
}

#redesInicial{
    border: 2px solid black;
    margin-top: 15px;
    padding: 2px;
    width: 110px;
    float: right;
}

#sessoes{
    border: 1px solid black;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    word-spacing: 140px;
    padding-left: 140px;
}

#ArtPraia{
    word-spacing: normal;
}

#Pesquisa{
    margin-top: 10px;
}

#barrinha{
    padding-right: 600px;
    margin-bottom: 15px;
    padding-bottom: 4px;
}

#lupa{
    padding: 3px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-top: -8px;
}

#posicoesBotaoIniciais{
    margin-top: -35px;
    float: right;
}

.botoesRed{
    box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.titulosAbas{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 37px;

}

#entrarCliente{
    border: 1px solid black;
    float: left; 
    margin-right: 200px;
    margin-left: 10px;
    margin-top: 50px;
    padding: 145px;
    background-color: rgb(170, 196, 243);
}

#cadastroCliente{
    border: 1px solid black;
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 130px;
    background-color: rgb(170, 196, 243);
}

#bordaTrocaExplicacao{
    border: 4px solid black;
    padding: 40px;
    
}

#alerta{
    border: 2px solid black;
    margin-top: 100px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#textoAlerta{
   float: right;
}

#imgAlerta{
    margin-left: 70px;
}

#telaPromocao{
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 20px;
    padding-right: 1200px;
    padding-bottom: 260px;
    float: left;
}